@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

html, body {
    min-height: 100%;
    height: 100%;
}
body {
    font-family: 'Work Sans', sans-serif;
    background-color: dimgrey;
}
.particles {
    width: 100%;
    height: 100%;
}
h6, h4 {
    vertical-align: middle;
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.icon {
    fill: silver;
}
.silver {
    color: #949494;
}
.submit-button {
    position: relative;
    animation: submit-animation 1s linear infinite;
}
@keyframes submit-animation {
    0% {
        left: 0px;
    }
    20% {
        left: 2px;
    }
    40% {
        left: 4px;
    }
    60% {
        left: 6px;
    }
    80% {
        left: 8px;
    }
    100% {
        left: 10px;
    }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}
.box-shadow {
    border-bottom-right-radius: 30px !important;
    border-top-right-radius: 30px !important;
    -webkit-box-shadow: 18px 18px 3px 0px rgb(231, 231, 231);;
    -moz-box-shadow: 18px 18px 3px 0px rgb(231, 231, 231);;
    box-shadow: 18px 18px 3px 0px rgb(231, 231, 231);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
